*
body{
    width: 100%;
    height: 100%;
}
.full-page{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    /* This block of code is for the setting the background image and position of the image*/
}
table {
  font-family: arial, sans-serif;
  width: 100%;
  margin-top: 10px;
}

td, th {
  border: 4px solid #dddddd;
  text-align: left;
  padding: 8px;
  color:black;
}
th{
  color: blue;
}
button{
    background-color: red;
}
a{
  color:white;

}